    .mainLogo {
        width: 25vw;
    }
    
    .nav-link {
        font-size: 2vw;
        margin-left: 5px;
        margin-right: 5px;
        color: #7137E5;
    }
    
    .toggler {
        width: 20px;
        height: 5px;
        background-color: #7137E5;
        margin: 3px 0;
    }
    
    .video {
        border: 1px solid black;
        font-size: 4vw;
        flex-grow: 10;
        align-self: center;
        box-shadow: 0 5px 5px 2px #FFF400;
        border-radius: 5px;
        /*animation-name: boxShadow;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;*/
    }
    
    @keyframes boxShadow {
        0% {
            box-shadow: 5px 5px 5px 2px #FFF400;
        }
        25% {
            box-shadow: 5px -5px 5px 2px #FFF400;
        }
        50% {
            box-shadow: -5px -5px 5px 2px #FFF400;
        }
        75% {
            box-shadow: -5px 5px 5px 2px #FFF400;
        }
        100% {
            box-shadow: 5px 5px 5px 2px #FFF400;
        }
    }
    
    .videoRow {
        display: flex;
        justify-content: space-around;
    }
    
    .signup,
    .personality {
        border: 1px solid black;
        border-radius: 5px;
        font-size: 3vw;
    }
    
    .testRow {
        margin-top: 10px;
    }
    
    .rule,
    .ruleExpert {
        background-color: red;
    }
    
    .ruleExpert {
        margin: 0;
    }
    
    @media(min-width:768px) {
        div.container-fluid>div.expertsRow768un {
            display: none !important;
        }
        .expertsRow768 {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: repeat(3, 20vw);
            grid-template-areas: "e1 e2 e3";
            justify-content: space-evenly;
        }
        .expert1-768 {
            grid-area: e1;
            border: 1px solid black;
        }
        .expert2-768 {
            grid-area: e2;
            border: 1px solid black;
        }
        .expert3-768 {
            grid-area: e3;
            border: 1px solid black;
        }
        .expertImage {
            width: 20vw;
            margin-bottom: 0px;
        }
    }
    
    @media(max-width:768px) {
        div.container-fluid>div.expertRow768 {
            display: none !important;
        }
        .expert-768 {
            display: none;
        }
        .expertsRow {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(2, 30vw);
            grid-template-areas: "image1 e1" "image2 e2" "image3 e3";
            justify-content: space-around;
            row-gap: 10px;
        }
        .expert1 {
            grid-area: e1;
            border: 1px solid black;
            align-self: center;
        }
        .expert2 {
            grid-area: e2;
            border: 1px solid black;
            align-self: center;
        }
        .expert3 {
            grid-area: e3;
            border: 1px solid black;
            align-self: center;
        }
        .image1 {
            grid-area: image1;
            border: 1px solid black;
            vertical-align: middle;
            align-self: center;
        }
        .image2 {
            grid-area: image2;
            border: 1px solid black;
            vertical-align: middle;
            align-self: center;
        }
        .image3 {
            grid-area: image3;
            border: 1px solid black;
            vertical-align: middle;
            align-self: center;
        }
        .expertImage {
            width: 30vw;
        }
    }
    
    .knowMore {
        text-decoration: none;
        color: rgba(113, 55, 229, 0.8);
        text-align: center;
    }
    
    .knowMore:visited {
        text-decoration: none;
    }
    
    .knowMore:hover {
        text-decoration: none;
        color: rgba(113, 55, 229, 1);
    }
    
    .knowMore:active {
        text-decoration: none;
        color: rgba(113, 55, 229, 1);
    }
    
    .linkCol {
        text-align: center;
    }
    
    .expertTitle {
        font-size: 3vw;
        text-align: center;
    }
    
    .expertHeading {
        font-size: 2.5vw;
        text-align: center;
    }
    
    .expertContent {
        font-size: 2vw;
    }
    
    .expertButton {
        font-size: 2.5vw;
        margin-top: 1vw;
    }
    
    .expertImage {
        align-items: center;
        vertical-align: middle;
    }
    
    .card-text {
        float: right;
    }
    
    video {
        border: 1px solid black;
    }