/*adjusting background color of whole page*/

body {
    background-color: #F2F26B;
}


/*size of moodcafe logo*/

.mainLogo {
    width: 25vw;
}


/* border on navigation bar at bottom */

.navbar {
    border-bottom: 1px solid rgba(45, 5, 147, 0.8);
}


/* formatting on links in navigation bar */

.collapse .navbar-nav .nav-item .nav-link {
    background-color: transparent;
    color: black;
    font-size: 1.75vw;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.collapse .navbar-nav .nav-item .nav-link:hover {
    color: #4FC806;
}

.toggler {
    width: 20px;
    height: 5px;
    background-color: #4FC806;
    margin: 3px 0;
}


/* formatting  signup and personality section here */

.signup,
.personality {
    border: 1px solid rgb(45, 5, 147);
    border-radius: 10px;
    font-size: 1.5vw;
    background-color: white;
    font-weight: 600;
}


/* formatting on row of personality and signup section */

.testRow {
    margin-top: 10px;
}


/* formatting on horizontal rule */

.rule,
.ruleExpert {
    background-color: rgba(45, 5, 147, 0.8);
}


/* rule within expert section, i.e. among about, expertise and experience section */

.ruleExpert {
    margin: 0;
}


/* formatting know more link */

.knowMore {
    text-decoration: none;
    color: rgba(79, 200, 6, 0.8);
    text-align: center;
    font-size: 2vw;
}

.knowMore:visited {
    text-decoration: none;
}

.knowMore:hover {
    text-decoration: none;
    color: rgba(79, 200, 6, 1);
}

.knowMore:active {
    text-decoration: none;
    color: rgba(79, 200, 6, 1);
}


/* formatting know more section, aligning in center */

.linkCol {
    text-align: center;
}


/* expert title  consisting of expert name */

.expertTitle {
    font-size: 2.25vw;
    text-align: center;
}


/* various headings in expert section */

.expertHeading {
    font-size: 1.75vw;
    text-align: center;
    font-style: italic;
}


/* various contents in expert section */

.expertContent {
    font-size: 1.25vw;
}


/* book session button in top expert section */

.expertButton {
    font-size: 2vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}


/* image of expert aligning in center */

.expertImage {
    align-items: center;
    vertical-align: middle;
}


/* footer section, keeping it the end of page */

.footer {
    position: relative;
}

.footerSub {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
}


/* formatting button in whole webpage */

.btn-primary {
    background-color: #4FC806;
    color: black;
    padding: 0;
    border: 1px solid black;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
    background-color: transparent;
    color: #5DCB1A;
    border: 1px solid #5DCB1A;
    box-shadow: 0 0 0 0.2rem rgba(79, 200, 6, 0.8);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #5DCB1A;
    background-color: black;
    border-color: #5DCB1A;
    box-shadow: 0 0 0 0.2rem black;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: black;
    background-color: #4FC806;
    border-color: black;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.4rem rgba(79, 200, 6, 0.8);
}

.btn {
    padding: 0;
}


/* formatting all links to have no underlining in any case */

.linkSignup,
.linkPersonality,
.linkSignup:hover,
.linkPersonality:hover,
.linkPersonality:visited,
.linkSignup:visited {
    text-decoration: none;
}


/* formatting button in signup and personality section */

.signUpButton,
.personalityButton {
    font-size: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-weight: 700;
}

.card-text {
    margin-right: 1vw;
    margin-left: 1vw;
}


/* meet our experts heading */

.expertsHeading {
    display: flex;
    margin: auto;
    font-size: 2vw;
    font-weight: 600;
    justify-content: space-evenly;
    margin-bottom: 10px;
    color: black;
    background-color: #4FC806;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 50vw;
}

.expertsHeading:hover {
    color: black;
    border-color: black;
    border-width: 2px;
    background-color: transparent;
    box-shadow: 0 0 0 0.2rem rgba(79, 200, 6, 0.8);
}


/*all media queries here...*/

@media(min-width:768px) {
    /* applying grid system on experts section */
    .expertsRow {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 23vw);
        grid-template-areas: "e1 e2 e3";
        justify-content: space-evenly;
    }
    /* first expert */
    .expert1 {
        grid-area: e1;
        border: 1px solid rgb(45, 5, 147);
    }
    /* second expert */
    .expert2 {
        grid-area: e2;
        border: 1px solid rgb(45, 5, 147);
    }
    /* third expert */
    .expert3 {
        grid-area: e3;
        border: 1px solid rgb(45, 5, 147);
    }
    /* expertImages */
    .expertImage {
        width: 15vw;
        margin-bottom: 0px;
        display: flex;
        margin: auto;
    }
    /* margin formatting on personality and signup section */
    .signup,
    .personality {
        margin-top: 4vh;
    }
}

@media(max-width:768px) {
    .expertsRow {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 60vw;
        grid-template-areas: "e1" "e2" "e3";
        justify-content: space-around;
        row-gap: 10px;
    }
    .expert1 {
        grid-area: e1;
        border: 1px solid rgb(45, 5, 147);
        align-self: center;
    }
    .expert2 {
        grid-area: e2;
        border: 1px solid rgb(45, 5, 147);
        align-self: center;
    }
    .expert3 {
        grid-area: e3;
        border: 1px solid rgb(45, 5, 147);
        align-self: center;
    }
    .expertImage {
        width: 39vw;
        display: flex;
        margin: auto;
    }
    .signup {
        margin-bottom: 5vh;
        margin-top: 4vh;
    }
}


/* font size conditions on devices with maximum width of 1000px */

@media(max-width: 1000px) {
    .nav-link {
        font-size: 2.25vw;
    }
    .signup,
    .personality,
    .knowMore {
        font-size: 2.5vw;
    }
    .expertTitle {
        font-size: 2.75vw;
    }
    .expertHeading {
        font-size: 2.25vw;
    }
    .expertContent {
        font-size: 2vw;
    }
    .expertButton,
    .signUpButton,
    .personalityButton {
        font-size: 2.5vw;
    }
    .footer {
        font-size: 2.5vw;
    }
    .expertsHeading {
        font-size: 2.75vw;
    }
}

@media(min-width:992px) {
    .collapse .navbar-nav .nav-item .nav-link {
        background-color: #4FC806;
        color: black;
        border: 1px solid black;
    }
    .collapse .navbar-nav .nav-item .nav-link:hover {
        color: #4FC806;
        background-color: transparent;
        border: 1px solid #4FC806;
    }
}